@font-face {
    font-family: 'helveticaregular';
    src: url('../assets/helvetica/helvetica-webfont.woff2') format('woff2'),
         url('../assets/helvetica/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    overflow-x: hidden;
    color: var(--white);
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'helveticaregular';
}

:root {
    --white: #ffffff;
    --gray: #64666b;
    --dark-gray: #1d1e21;

    --black-one: #0c0d0f;
    --black-two: #141518;
    --black-three: #0e0e11;

    --red-one: #f83600;
    --red-two: #e8355c;

    --blue-one: #3371f2;
    --blue-two: #4264eb;
    --blue-three: #16bdff;

    --purple: #7e5cef;
    --orange: #fe8c00;
    --green: #12d362;
    --yellow: #f7e018;
    --pink: #fe5895;
}

body {
    color: var(--black-one);
    background-color: var(--black-one);
}

a {
    color: inherit;
    transition: .2s linear;
}

a:hover {
    transition: .2s linear;
}

/* header */
header {
    gap: 2rem;
    display: flex;
    padding: 4rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo-ballerini {
    max-height: 80px;
}

.primary-title {
    gap: 1rem;
    display: flex;
    padding: 1rem 0;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    color: var(--yellow);
}

.logo-js {
    max-height: 36px;
    border-radius: .2rem;
}

/* main */
main {
    gap: 1.4rem;
    display: grid;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 14px;
    max-width: 1440px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "one three"
    "two extra";
}

section {
    gap: .6rem;
    width: 700px;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
}

.challenge-one {
    border: 3px solid var(--green);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.challenge-two {
    border: 3px solid var(--pink);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.challenge-three {
    border: 3px solid var(--purple);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.challenge-extra {
    border: 3px solid var(--yellow);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.challenge-link {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: .8rem;
    border-bottom: 1px solid var(--dark-gray);
}

    .green {
        color: var(--green);
    }

        .green:hover {
            opacity: .8;
        }

    .pink {
        color: var(--pink);
    }

        .pink:hover {
            opacity: .8;
        }

    .purple {
        color: var(--purple);
    }

        .purple:hover {
            opacity: .8;
        }

    .yellow {
        color: var(--yellow);
    }

        .yellow:hover {
            opacity: .8;
        }

.challenge-description {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    line-height: 1.4rem;
}

.challenge-one {
    grid-area: one;
}

.challenge-two {
    grid-area: two;
}

.challenge-three {
    grid-area: three;
}

.challenge-extra {
    grid-area: extra;
}

    .challenge-extra a {
        color: var(--yellow);
    }

/* Desafio Extra*/
.challenge-extra-content {
    width: 700px;
    justify-content: center;
    border: 2px solid var(--yellow);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.dados-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

.dados-input {
    gap: .3rem;
    display: flex;
    flex-direction: column;
}

    .dados-input label {
        font-size: 16px;
        color: var(--gray)
    }

    .dados-input input {
        padding: 1rem .5rem;
        margin-bottom: .5rem;
        background-color: var(--black-two);
    }

.challenge-extra-return {
    width: 700px;
    color: var(--white);
    background-color: var(--black-two);
    box-shadow: 4px 4px 0 var(--dark-gray);
}

.btn-cadastro input {
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    padding: 1rem .5rem;
    text-transform: uppercase;
    color: var(--black-three);
    background-color: var(--yellow);
}

.returnNome, .returnIdade, .returnSkills, .returnGithub {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: .3rem;
}

.returnNomeUsuario, .returnIdadeUsuario, .returnSkillsUsuario, .returnGithubUsuario {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: .5rem;
    padding: 1rem .5rem;
}

    .returnGithubUsuario a i {
        padding: .2rem;
        font-size: 24px;
        color: var(--yellow);
    }

footer {
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
    color: var(--dark-gray);
    justify-content: center;
}

footer a {
    color: var(--dark-gray);
}

    footer a:hover {
        color: var(--red-two);
    }

@media only screen and (max-width: 375px) {
    .container {
        height: auto;
        max-width: 375px;
        padding: 2rem 0rem;
    }

    header {
        gap: 1rem;
        display: flex;
        padding: 1rem 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .logo-ballerini {
        max-height: 60px;
    }

    .primary-title {
        font-size: 26px;
        max-width: 300px;
        text-align: center;
    }

    .logo-js {
        max-height: 32px;
    }

    main {
        gap: 2rem;
        display: flex;
        padding: 1rem;
        max-width: 375px;
        flex-direction: column;
        justify-content: center;
    }

    section {
        gap: .6rem;
        max-width: 340px;
        display: flex;
        padding: 1.5rem;
        flex-direction: column;
    }

    footer {
        padding: 1rem 0 0 0;
    }

    .challenge-extra-content {
        width: 340px;
        justify-content: center;
        border: 2px solid var(--yellow);
        box-shadow: 4px 4px 0 var(--dark-gray);
    }
}